@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:ital@1&family=Roboto+Slab&display=swap");
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #81c3d7;
  color: white;
}
*::selection {
  background-color: #81c3d7;
  color: white;
}
* a {
  text-decoration: none;
}

ul.mi-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  background: rgb(22, 66, 91);
  background: linear-gradient(90deg, rgb(22, 66, 91) 0%, rgb(129, 195, 215) 61%, rgba(129, 195, 215, 0.5398634796) 94%);
  color: #333333;
}
ul.mi-navbar li {
  float: left;
}
ul.mi-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
ul.mi-navbar li a:hover {
  color: black;
  font-weight: bolder;
  animation: color-change-2x 1s linear infinite alternate both;
}
ul.mi-navbar li .avion-1 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
}
ul.mi-navbar li .avion-1:hover {
  transform: translate(10px, -10px);
}
ul.mi-navbar li .avion-2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
  transform: rotate(90deg);
}
ul.mi-navbar li .avion-2:hover {
  transform: rotate(90deg) translateY(-30px);
}
ul.mi-navbar li .avion-3 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
  transform: translateY(-15px);
}
ul.mi-navbar li .avion-3:hover {
  transform: translate(30px, 5px);
}

@keyframes color-change-2x {
  0% {
    background: #19919a;
  }
  100% {
    background: #81c3d7;
  }
}
body {
  background-image: url("../../img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
main .gallery {
  margin-top: 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
main .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .gallery .nota-papel {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: 5px outset #81c3d7;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  grid-column: span 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-column: span 3;
}
main .gallery .nota-papel:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  /* background-color: #81c3d7; */
  z-index: -1;
}
main .gallery .nota-papel .contenido {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
main .gallery .nota-papel .contenido a {
  color: #81c3d7;
  text-decoration: none;
}
main .gallery .nota-papel .contenido a:hover {
  color: #60daff;
  font-weight: bolder;
  font-size: larger;
}
main .gallery .nota-papel .contenido .avisos {
  font-family: "Roboto Slab", serif;
  text-align: center;
  animation: bounce-top 1s ease-out both;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
main .gallery .fotos {
  border: 5px outset #81c3d7;
  transition: 0.3s;
}
main .gallery .fotos:nth-child(3n+1) {
  grid-column: span 1;
}
main .gallery .fotos:hover {
  transform: scale(1.2);
}
main .gallery h2 {
  margin-top: 0;
}
main .gallery p {
  margin-bottom: 0;
}
main .contenedor-flex {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .contenedor-flex .nota-papel-salidas {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: 5px outset #81c3d7;
  padding: 20px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}
main .contenedor-flex .nota-papel-salidas .contenido {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
main .contenedor-flex .nota-papel-salidas .contenido a {
  color: #81c3d7;
  text-decoration: none;
}
main .contenedor-flex .nota-papel-salidas .contenido a:hover {
  color: #60daff;
  font-weight: bolder;
  font-size: larger;
}
main .contenedor-flex .nota-papel-salidas .contenido .avisos {
  font-family: "Roboto Slab", serif;
  text-align: center;
  animation: bounce-top 1s ease-out both;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
main .salidas-grupales {
  position: relative;
  margin-bottom: 150px;
  display: block;
}
main .salidas-grupales .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
main .content-wrapper {
  display: flex;
  align-items: center;
}
main .content-wrapper .quienes-somos-img {
  flex: 1;
  max-width: 33.3333333333%;
  margin-right: 35px;
}
main .content-wrapper .quienes-somos-img img {
  max-width: 100%;
  height: auto;
  border: 5px outset #81c3d7;
  animation: slide-in-left 1.5s ease-out 0.2s both;
}
main .content-wrapper .texto-quienes-somos {
  flex: 2;
}
main .mapa-quienes-somos {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
main .contacto {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: 5px outset #81c3d7;
  padding: 20px;
  margin: 20px;
  width: 95%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
main .contacto h2 {
  font-family: "Roboto Slab", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}
main .contacto .info-contacto {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
main .video-contacto {
  margin: 20px;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .atv-titulo {
  font-family: "Roboto Slab", serif;
  text-align: center;
  animation: bounce-top 1s ease-out both;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.mi-footer {
  background-color: rgba(22, 66, 91, 0.6117647059);
  text-align: center;
  color: #c0ccd3;
  padding: 20px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  min-height: 150px;
  bottom: 0;
  margin-top: auto;
}
.mi-footer .oslo-footer {
  color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mi-navbar {
    display: none;
  }
  .navbar {
    background-color: #81c3d7;
    padding-inline: 10px;
    font-family: "Open Sans", sans-serif;
  }
  .navbar .navbar-brand,
  .navbar .navbar-nav .nav-link {
    padding: 8px 16px;
    margin-left: 10px;
  }
  .quienes-somos {
    align-content: center;
  }
  .quienes-somos .content-wrapper {
    flex-direction: column;
  }
  .quienes-somos .content-wrapper .quienes-somos-img {
    max-width: 75%;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 5rem;
  }
  .quienes-somos .content-wrapper .texto-quienes-somos {
    order: -1;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    max-width: 90%; /* Ancho del 80% de la pantalla */
  }
  .mapa-iframe {
    position: relative;
    width: 95%;
    text-align: center;
  }
  .mapa-iframe iframe {
    position: relative;
    width: 100%;
    margin-left: 1rem;
  }
  .contacto {
    margin: 1rem;
    max-width: 90%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .video-contacto iframe {
    display: none;
  }
}
@media (min-width: 768px) {
  .carousel-container {
    background-color: rgba(195, 217, 229, 0.8235294118);
    border: 5px outset #81c3d7;
    padding: 20px;
  }
  .carousel-container .carousel .carousel-inner .carousel-item img {
    max-height: 500px;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .content-wrapper {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    margin-top: 20px;
  }
  .mapa-quienes-somos {
    background-color: rgba(129, 195, 215, 0.3450980392);
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 20px;
    border: solid #81c3d7;
  }
}/*# sourceMappingURL=estilos.css.map */