@import "./partials/variables";
@import "./partials/reset";
@import "./partials/navbar";
@import "./partials/background";
@import "./partials/main";
@import "./partials/footer";



//PANTALLAS MAS CHICAS
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .mi-navbar {
    display: none;
  }

  .navbar {
    background-color: $colorPrincipal;
    padding-inline: 10px;
    font-family: $font-family_1; 
        
        
    .navbar-brand,
    .navbar-nav .nav-link {
      padding: 8px 16px; 
      margin-left: 10px;
                      
    }
  }
  

  .gallery {
    
    .fotos {
      display: none;
    }

    .carrusel-responsive {
      display: grid;
      grid-column: span 3;
      margin-inline: auto;
      max-width: 90%;
      
    }
  }

  .contenedor-flex {
    display: grid;
    

    .nota-papel-salidas {      
      width: 100% !important; 
    }
  }
  

  .quienes-somos{
    align-content: center;
    
    .content-wrapper {
      flex-direction: column; 
            
      .quienes-somos-img {
        max-width: 75%; 
        margin-inline: auto;
        margin-bottom: 1rem;
      }
            
      .texto-quienes-somos {
        order: -1; 
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem; 
        max-width: 90%; 
      }
    }
        
  }
  
  .mapa-iframe {
    position: relative;
    width: 95%; 
    text-align: center;
            
    iframe {
      position: relative;
      width: 100%;
      margin: 1rem;
    }
  }

  .contacto {
    margin: 1rem;
    max-width: 90%;
    height: fit-content;
  }
        
  .video-contacto {
    margin-inline: auto;
                    
    iframe {      
      width: 90%;
    }
  }
      
  .atv-titulo {
    font-size: medium;

    .manito {
      display: none;
    }
  }
}

//PANTALLAS GRANDES
    
@media (min-width: 768px) {
  
  .carousel-container {
    background-color: #c3d9e5d2;
    border: 5px outset $colorPrincipal; 
    padding: 20px; 
    
    .carousel .carousel-inner .carousel-item img {
      max-height: 500px; 
      width: auto; 
      object-fit: contain; 
    }
  }
  
    
  
  .content-wrapper {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: $font-family_1;
    color: #333333;
    margin-top: 20px;
  }
  
  .mapa-quienes-somos {
    background-color: #81c3d758;
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 20px;
    border: solid $colorPrincipal;
  }
}
