.content {
  background-color: #ffffff;
  padding: 20px;

  .nota-papel {
    background-image: $backgroundNotas;
    background-size: cover;
    border: 5px outset $colorPrincipal;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    grid-column: span 1;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
    }
  }
}
