ul.mi-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $font-family_1;
  background: rgb(22,66,91);
  background: linear-gradient(90deg, rgba(22,66,91,1) 0%, rgba(129,195,215,1) 61%, rgba(129,195,215,0.539863479571516) 94%);
  color: #333333;

  li {
    float: left;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      

      &:hover {
        color: black;
        font-weight: bolder;
        -webkit-animation: color-change-2x 1s linear infinite alternate both;
        animation: color-change-2x 1s linear infinite alternate both;
        
      }

    }

    
//ICONOS-NAVBAR
    .avion-1 {
      @include aviones;
        
      &:hover {
        transform: translate(10px, -10px);
      }
    }

    .avion-2 {
      @include aviones;
      transform: rotate(90deg);

      &:hover {
        transform: rotate(90deg) translateY(-30px);
      }
    }

    .avion-3 {
      @include aviones; 
      transform: translateY(-15px);

      &:hover {
        transform: translate(30px, 5px);
      }       
    }
  }
}

//KEYFRAMES
@keyframes color-change-2x{0%{background:#19919a}100%{background:$colorPrincipal}}