ul.mi-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $font-family_1;
  background: rgb(22,66,91);
  background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(129,195,215,1) 38%, rgba(25,145,154,1) 71%);
  color: #333333;
  display: flex;
  text-align: center;

  li {
    float: left;
    margin-top: auto;
    display: flex;
    align-items: center;


    a {
      display: block;
      color: #2b2b2b;
      font-weight: bolder;
      font-size: larger;
      text-align: center;
      line-height: 3;

      &:not(img) {
        margin: auto;
        padding: 14px 16px;
        display: flex;
        align-items: center;
      }
      
      img {
        width: 150px;
        height: auto;
      }
      

      // &:hover {
      //   color: black;
      //   font-weight: bolder;
      //   -webkit-animation: color-change-2x 1s linear infinite alternate both;
      //   animation: color-change-2x 1s linear infinite alternate both;
        
      // }

      
    }

    
//ICONOS-NAVBAR
    .avion-1 {
      @include aviones;
      line-height: 2;
        
      &:hover {
        transform: translate(10px, -10px);
      }
    }

    .avion-2 {
      @include aviones;
      transform: rotate(90deg);
      line-height: 2.3;

      &:hover {
        transform: rotate(90deg) translateY(-30px);
      }
    }

    .avion-3 {
      @include aviones; 
      transform: translateY(-15px);
      line-height: 2.5;

      &:hover {
        transform: translate(30px, 5px);
      }       
    }
  }
}

//KEYFRAMES
@keyframes color-change-2x{0%{background:#19919a}100%{background:$colorPrincipal}}